.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  page-break-inside: avoid;
}

.grid {
  display: grid;
  border: 2px solid #333;
  background-color: #fff;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 1.5em;
}

@media print {
  .container {
    margin: 0;
  }

  .grid {
    border: 2px solid #000;
  }
}
