.mazeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  page-break-inside: avoid;
}

.mazeSvg {
  background-color: #fff;
}

@media print {
  .mazeContainer {
    margin: 1cm 0;
  }
}
